<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body>
<section>
  <div class="jumbotron text-center">
    <h1>Mission to Mars</h1>
    <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
  </div>
    <div class="container-fluid news no-padding" id="scraped-data">
        <div class="col-md-12">
      <div class="row no-gutter">
        <div class="card-body">
          <h2 class="card-title" id="font">Latest Mars News</h2>
          <h5 class="card-subtitle mb-2 " id="font">{{ mars_info.news_title }}</h5>
          <p class="card-text">{{ mars_info.news_article }}</p>
        </div>
      </div>
        </div>
    </div>
      <div class="img-table">
        <div class="col-md-6" >
              <h2 class="card-title">Featured Mars Image</h2>
              <div class="thumbnail">
              <img src="{{ mars_info.featured_image_url }}" alt="Featured Mars Image">
            </div>
          </div>
        <div class="col-md-6" >
          <div class="card">
                <div class="card border-secondary mb-3" style="max-width: 50rem; border-color: black">
              <div class="col-md-12 card border-secondary mb-3" style="border-color: black;">
                <h3 class="card-header">Current Weather on Mars</h3>
                <p class="card-text" id="dark-font">{{ mars_info.latest_tweet }}</p>
              </div>
            </div>
            </div>
            <div class="card-body" id="img-table">
              <div class="col-md-12">
                <div>
                  <h3 class="card-title">Mars Facts</h3>
                  <p class="card-text" id="dark-font" >{{ mars_info.Mars_Planet_Profile | safe }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>


  <div class ="row" id="mars-hemispheres">
    <div class = "col-md-12">
        <div class="card-body">
          <h3 class="card-title" id="font" style="text-align: center">Mars Hemispheres</h3>
        {% for hemisphere in mars_info.Hemisphere_Description %}
            <div class = "col-md-6">
                <div class = "thumbnail">
                    <img src = "{{hemisphere.img_url}}" alt="Hemisphere Image">
                        <h3>{{hemisphere.title}}</h3>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</section>
</body>
</html>

